.hero {
  padding: 50px 0;
}

.hero__inner {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.hero__info {
  position: relative;
  max-width: 700px;
  width: 100%;
}


.hero__title {
  padding-top: 50px;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 64px;
  color: var(--accent-color);
}

.hero__title span {
  font-weight: 600;
}

.hero__subtitle {
  display: block;
  font-weight: 300;
  font-size: 24px;
  color: var(--accent-color--light);
  margin-bottom: 72px;
}

.hero__link {
  display: inline-block;
  outline: 2px solid transparent;
  border-radius: 12px;
  max-width: 215px;
  width: 100%;
  padding: 12px 38px;
  min-height: 60px;
  -webkit-box-shadow: 1px 4px 35px -3px  rgba(144, 10, 211, 0.3);
  -moz-box-shadow: 1px 4px 35px -3px  rgba(144, 10, 211, 0.3);
  box-shadow: 1px 4px 35px -3px  rgba(144, 10, 211, 0.3);
  background: var(--accent-color--light);
  font-weight: 500;
  font-size: 24px;
  color:  var(--light-color);
  transition: all .35s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__link:hover {
  outline: 2px solid var(--accent-color);
  -webkit-box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  -moz-box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  transition: all .35s ease-in-out;
}

.hero__link:focus-visible {
  outline: 2px solid var(--accent-color);
  transform: scale(1.045);
  transition: all .35s ease-in-out;
}

.hero__link:active{
  transform: scale(1.045);
  transition: all .35s ease-in-out;
}

.hero__cards {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 56px;
  justify-content: center;
}

.hero__card {
  outline: 1px solid transparent;
  cursor: pointer;
  padding: 25px;
  min-height: 260px;
  border-radius: 8px;
  fill: #f8f9fa;
  -webkit-box-shadow: 2px 5px 41px -5px rgba(0,0,0,0.31);
  -moz-box-shadow: 2px 5px 41px -5px rgba(0,0,0,0.31);
  box-shadow: 2px 5px 41px -5px rgba(0,0,0,0.31);
  transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.hero__card:hover {
  
  transform: scale(1.1);
  -webkit-box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  -moz-box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.hero__card:focus-visible {
  outline: 1px solid transparent;
  transform: scale(1.1);
  -webkit-box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  -moz-box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  box-shadow: 2px 5px 41px -5px  rgba(144, 10, 211, 0.3);
  transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
}

.hero__card-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  color: var(--accent-color);
}

.hero__card-text {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  color: var(--dark-color);
}

@media (max-width: 950px) {
  .hero__images {
    display: none;
  }

  .hero__inner {
    justify-content: center;
  }

  .hero__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .hero__subtitle {
    margin-bottom: 25px;
  }

  .hero__title {
    padding-top: 0;
  }

  .hero__cards {
    grid-template-columns: repeat(1, 80%);

  }

  .hero__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 200px;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 42px;
  }


  .hero__card-text {
    font-size: 16px;
  }

  .hero__card-title {
    font-size: 20px;
  }

  .hero__card {
    min-height: 150px;
  }
}

