.aside {
  min-height: 100vh;
  padding: 10px 0px 10px 20px;
  max-width: 500px;
  width: 100%;
  border-right: 2px solid rgba(173, 181, 189, 0.6);
}

.aside__logo {
  margin-bottom: 20px;
}

.aside__calendar {
  margin-bottom: 32px;
}

.aside__inner {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.tasks__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #343a40;
}

.task {
  border-radius: 10px;
  min-height: 60px;
  padding: 9px 12px;
  background-color: rgb(157, 0, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task__name {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #000;
}

.task__amount {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  font-size: 25px;
}

.lists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.lists__title {
  margin: 0;
  font-size: 25px;
  margin-bottom: 8px;
}

.list {
  min-height: 60px;
  padding: 9px 12px;
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #000;
}

.list__amount {
  font-weight: 400;
  line-height: 120%;
  color: #000;
  font-size: 25px;
}

.react-calendar {
  font-family: var(--font-family);
  border: none;
  width: 100%;
}

.react-calendar button {
  border-radius: 100%;
  font-weight: 500;
  color: rgba(30, 28, 28, 0.8);
  font-size: 21px;
}

.react-calendar button:hover {
  background-color: #ADF7B6 !important;
  opacity: 0.65;
}

.react-calendar__tile--now {
  background-color: rgb(139, 130, 167);
}


.react-calendar__tile--active  {
  background-color: #ADF7B6;

}

.react-calendar__tile--active {
  background-color: #ADF7B6 !important;

}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  font-size: 16px;
}

.react-calendar__tile {
  padding: 15px;
}


@media(max-width: 1200px) {
  .aside {
    max-width: 350px;
  }
}

@media(max-width: 768px) {
  .aside {
    display: none;
  }
}

