.header {
  padding: 7px 0 3px;
  border: 1px solid #ced3d7;
}

.logo {
  cursor: pointer;
  display: block;
  width: 236px;
  height: 60px;
  background-image: url('/src/assets/images/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__links {
  display: flex;
  gap: 20px;
}

.header__link {
  font-size: 18px;
}

.header__user {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__user-email {
  color: #CA87F4;
  font-size: 20px;
}

.header__user-logout {
  background-color: transparent;
  border: 1px solid #CA87F4;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #CA87F4;
}


