.task-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0, 0, 0.2)
}


.task-modal__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  position: relative;
  max-width: 850px;
  width: 100%;
  min-height: 550px;
  background-color: #fff;
  border-radius: 15px;
}

.task-modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.task-modal__content {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-modal__input {
  padding: 5px 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 22px;
}

.task-modal__input::placeholder {
  font-size: 22px;
}

.task-modal__apply {
  width: 50%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  font-size: 22px;
}

.task-modal__delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;

}

.task-modal__btn-box {
  justify-content: center;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media(max-width: 768px) {
  .task-modal__inner {
    padding: 35px;
    max-width: 100%;
    width: 90%;
    min-height: 400px;
    background-color: #fff;
    border-radius: 15px
  }

  .task-modal__close {
    top: 10px;
    right: 10px;
  }
}
